@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

textarea:focus, input:focus{
  outline: none;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  background: #fff;
  width: 100vw;
  padding: 1.5em 0 ;
  box-shadow: 1px 4px 8px rgba(0,0,0,.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h2{
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  color:#f77f48;
  font-weight: 500;
  padding-left: 1.5em;
}

.con-status{
  margin-right: 1.5em;
  display: flex;
  align-items: center;
  background: #ddd;
  padding: .5em 1em;
  border-radius: 15px;
}

.con-indi{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: red;
  margin-right: .5em;
}

.con-txt{
  text-transform: capitalize;
}

.medContainer{
  margin:2em auto;
  width: fit-content;
  /* background-color: magenta; */
  padding: 2em;
  box-shadow: 1px 4px 8px rgba(0,0,0,.3);
}

#searchbar{
  background-color: #f1f1f1;
  border:none;
  padding: 0.5em 1em ;
}

.search-button, .btn{
  background: #f77f48;
  color:#fff;
  border:1px solid #f77f48;
  padding: 0.5em 1em;
  font-weight: 600;
  margin-left: .3em;
}

.search-button:hover, .btn:hover{
  background-color: #fff;
  color:#f77f48;
}

.table{
  margin:2em 0;
}

.table th{
  background-color: #f77f48;
  color:#fff;
  padding: .5em 1em;
}

.table tr:nth-child(odd){
  background-color: #f1f1f1;
}

.table td{
  font-size: 13px;
  padding: .5em;
}

.btn-primary{
  background: rgb(170, 170, 170);
  border:none;
  color:#000;
  padding: .3em .5em;
}

.btn-secondary{
  background: #f77f48;
  border:none;
  color:#fff;
  padding: .3em .5em;
}

form{
  width: 400px;
  margin: 2em auto;
  padding: 2em;
  box-shadow: 1px 3px 8px rgba(0,0,0,.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center ;
}

form h2{
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  color:#f77f48;
  font-weight: 500;
  font-size: 1.2rem;
}

#addBtn{
  background: #f77f48;
  color:#fff;
  border:1px solid #f77f48;
  padding: 0.5em 1em;
  font-weight: 600;
  text-transform: capitalize;
  margin-top: 2em;
}

#addBtn:hover{
  background-color: #fff;
  color:#f77f48;
}

.input-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  margin-top: 1em;
  width: 90%;
}

.input-container label{
  text-transform: capitalize;
  color: gray;
}

.input-container input{
  background: #dddddd;
  border: none;
  padding: .8em .5em;
}

.outer-disc{
  width: 300px;
  height: 300px;
  margin: 3em auto;
  box-shadow: 3px 3px 8px rgba(0,0,0,.3);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.outer-disc:hover{
  background-color: #f1f1f1;
}

.outer-circle{
  width: 250px;
  height: 250px;
  margin: auto;
  border:10px solid blue;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-disc{
  width: 250px;
  height: 250px;
  margin: auto;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content{
  font-size: 3rem;
  color:blue;
  font-weight: 600;
  text-transform: uppercase;
}

/* home styles */

.main-btn-container{
  margin:auto;
  margin-top:4em;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#bbbbbb;
}

.main-btn{
  padding: 1em 2em;
  background: #f77f48;
  width: 60%;
  margin-bottom: 1em;
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
  color:#fff;
  cursor: pointer;
  text-decoration: none;
}

.main-btn:hover{
  background: #fff;
  color:rgb(18, 20, 20);
  border:1px solid #f77f48;
}

/* control page styles */

.ctrl-command{
  width: 310px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#f77f48;
  background: #000;
  text-transform: capitalize;
  margin-bottom: 1em;
}

.control-container{
  width: 90%;
  margin: auto;
  margin-top: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: magenta; */
}

.ctrl-container-left{
  width: 40%;
}

.ctrl-container-right{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
}

.img-container{
  background: #ddd;
  background: url("./images/1.jpeg");
  background-size: cover;
  width: 100%;
  height: 400px;
}

.ctrls{
  display: flex;
  height: 330px;
  width: 330px;
  flex-direction: column;
  /* background: magenta; */
}

.ctrls-row{
  display: flex;
  justify-content: center;
  width: 330px;
  height: 110px;
}

.ctrl-btn{
  background: #000;
  color:#f77f48;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 10px; */
  margin: 5px;
  box-shadow: 1px 1px 5px rgba(0,0,0,.3);
}

.ctrl-btn:hover{
  background: rgb(177, 177, 177);
}